.row
  .large-12.columns

    %h3
      More than an organization 
    %p
      Open Minded Innovations represents a mindset for living a meaningful life. Open Minded Innovations represents a mindset for living a meaningful life. Open Minded Innovations represents a mindset for living a meaningful life. 

    %h3 This header doesn't matter
    %p
      We trust ourselves over anyone else and encourage everyone to Live In A Way That Makes Sense to You. Open Minded Innovations represents a mindset for living a meaningful life.

    %blockquote
      %b Does this make sense to me? 

    %p
      Open Minded Innovations represents a mindset for living a meaningful life. Open Minded Innovations represents a mindset for living a meaningful life. 

    %h3 This is the last ass bomb header
    %p
      Ignore what others tell you is impossible and think beyond the contstraints of society. Be true to yourself, dream big, and start working and focusing on your own life. Open Minded Innovations represents a mindset for living a meaningful life. 



