- title 'About'
.row
  .large-12.columns

    %h3
      More than a company
    %p
      Open Minded Innovations is an organization dedicated to helping everyone live a happy and fulfilling life. We believe that people thrive when they are given opportunities to apply themselves. The problem is most people don't have the necessary resources to identify these opportunities or execute on them. Our goal is to create a network driven by people to help to solve this problem.

    %h3 Open Source the world

    %p
      Open Source started as a way for people to share code, but it has developed into much more than that. Open Source is rooted in sharing technology, but our favorite aspect is the thriving philanthropic and pragmatic community that has grown around it. The feeling you get when a top developer spends their time to help you learn is nothing short of magical.

    %p
      Our hope is for Open Source to expand its scope to include any form of knowledge sharing. This could include mentor based relationships, exposing students to new ideas, or anything where people learn from each other.

    %p
      There are an incredible amount of non-obvious barriers to obtaining this goal including social expectations, politics, economics, and much more. These are not easy to overcome, but we can learn from how the technological side of Open Source developed over the years. It's hard to pick any particular philosophy to follow, but we want to focus on encouraging collaboration and paying it forward.

    %h3 Technology is our medium for change
    %p
      This ambitious goal of empowering everyone isn't new, but technology has finally made this vision possible. The internet has provided the world with vast amounts of information enabling people with limited resources to create websites, learn new skills, start businesses, share knowledge, etc. This has created a world where practically anyone can innovate and legitimately compete with large companies.

    %p
      Our plan is to develop our tech skills so we can get a firm grasp on how to turn ideas into realities. Almost every person can be aided by technology, including non technical users. It could be as simple as showing an artist useful apps to help them get more exposure or using modern web development tools to make complex web apps.

    %h3 How can you get involved?

    %p
      Email us at
      = succeed '.' do
        %a.email-link{href: "mailto:hello@openmindedinnovations.com"} hello@openmindedinnovations.com

    %p
      We will help literally anyone regardless of your background or knowledge. We are also looking for mentors to help people achieve their goals in life. 

