.row
  .large-12.columns

    %h3
      More than a company
    %p
      Open Minded Innovations is an organization dedicated to helping everyone live a meaningful life. We believe that people thrive when they are given oppurtunities to apply themselves. The problem is most people don't have the necessary resources to enable their ideas and dreams. Our goal is to create a an effictive network and infrastructure that can help solve this problem.

    %h3 Technology our medium for change
    %p
      This ambitious goal of empowering everyone isn't new, but technology has finally made this vision possible. The internet has provided everyone with vast amounts of information from around the world. This has enabled people with limited resources to learn create websites, develop electronics, and start businesses. This knowledge allows for practically anyone to innovate and to legitimately compete with large companies.

      Our plan is to develop technological businesses so we can get a firm grasp on how to turn ideas into realities. We will share as much as we possibly can and hope to be able to create systems that make this replicatable.

    %h3 Our problem solving process

    %p
      Technology is a fantastic basis, but there is more to making a change then just learning. When we approach a problem, we look at that problem as completely unique and generally as complex as you want it to be. Every problem gets broken down and we ask ourselves this question at every point in the process,

    %blockquote
      %b Does this make sense to me? 

    %p
      By doing this we are constantly challenging ourselves to comprehend why we are solving a problem a certain way. Every person in a project should have a firm grasph on why things are being done. This approach makes every one of our solutions unique and aimed at solving the problem at hand effectively. We hope to bring this mindset to the world so people can feel like they can create great solutions any problem.



