.pages-home
  background: #4183c4
  #particles-js
    position: fixed
    z-index: -1
    top: 0
    bottom: 0
    left: 0
    right: 0

  .navbar.navbar-default
    background: transparent


  .home-flex-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    // align-items: center
    height: 100vh
    margin-top: -97px

#loading
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  position: fixed
  display: block
  background-color: #fff
  z-index: 99
  text-align: center

#loader
  position: absolute
  top: 50%
  left: 50%
  z-index: 100

.headline
  margin: 1rem 0 4rem 0
  text-align: center
  font-weight: 700
  padding: 0 2rem
  color: #fff

.call-action
  margin-top: 4rem
  text-align: center

