.idea
  display: flex
  margin-bottom: 2rem
  cursor: pointer
  padding: 1rem 1rem 1rem 0
  border-radius: $border-radius-base
  &:hover
    background: $grey

  .idea-voting
    padding: 2rem
    text-align: center

    .upvote-icon
      color: $metallic
      font-size: 3rem

      &:hover
        color: $metallic

      &.upvoted
        color: $blue

  .idea-details
    h4
      margin-top: 0

  .idea-comments
    //TODO: link to messaging
    i
      font-size: 2rem
      color: $metallic
