textarea
  min-height: 6rem

.landing-body
  p
    font-family: 'Merriweather'

  p
    font-size: 2rem
    margin-bottom: 2.5rem

a
  transition: all .15s ease
  font-family: 'Open sans', sans-serif

.project-description a, .content a, a.email-link
  color: #4183c4
  &:hover
    text-decoration: underline

.page-title
  margin-bottom: 2rem

.full-width-wrapper
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.slack-banner
  background: #2E2E2E
  padding: 1.5rem 0
  margin-top: -2rem
  margin-bottom: 2rem
  .slack-message
    margin: 0
    color: #fff
    max-width: 40rem
    float: left
    line-height: 2.4rem

  .btn.btn-transparent
    float: right
    border: 2px solid white
    text-decoration: none
    margin: 0
    &:hover
      a
        color: #2E2E2E
    a 
      color: white
      &:hover
        color: #2E2E2E
        text-decoration: none

  @media (max-width: $screen-md-min)
    .btn.btn-transparent
      width: 100%
