textarea
  min-height: 6rem


.landing-body
  p, span
    font-family: 'Merriweather'

  p
    font-size: 2rem
    margin-bottom: 2.5rem

  span
    font-size: 1.8rem

a
  transition: all .15s ease
  font-family: 'Open sans', sans-serif

.project-description a, .content a, a.email-link
  color: #4183c4
  &:hover
    text-decoration: underline

.pagination
  text-align: center
  li:not(.arrow)
    display: inline-block
    float: none

  .arrow:last-child
    float: right

.header
  text-align: center
  color: $blue

#chatbox
  height: 20rem
  overflow-x: auto
  word-wrap: break-word
  border: 1px solid $blue
