textarea
  min-height: 6rem

.landing-body
  p
    font-family: 'Merriweather'

  p
    font-size: 2rem
    margin-bottom: 2.5rem

a
  transition: all .15s ease
  font-family: 'Open sans', sans-serif

.project-description a, .content a, a.email-link
  color: #4183c4
  &:hover
    text-decoration: underline

.page-title
  margin-bottom: 2rem

.full-width-wrapper
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

