// PROJECT FORM

.project-form
  textarea
    min-height: 20rem


// PROJECT CARD

.project
  position: relative
  box-shadow: 1px 1px 3px $grey-darker
  margin-bottom: 2rem
  cursor: pointer
  border-radius: $border-radius-base
  overflow: hidden

  .project-image
    width: 100%

  .project-title
    position: absolute
    background: rgba(0, 0, 0, 0.7)
    top: 0
    right: 0
    left: 0
    h4
      color: #fff
      font-size: 3rem
      text-align: center

      a
        color: #fff
        text-decoration: none

  .project-details
    padding: 1rem

  .project-activities
    > div
      display: inline-block
      margin-right: 1rem

    .project-members-count
      font-size: 1.8rem
      vertical-align: middle
      .fa
        color: lighten($text-color, 15%)
      span
        color: lighten($text-color, 15%)
        font-size: 1.4rem
        font-weight: 600
        margin-left: .3rem

    .project-favorite
      vertical-align: middle
      color: $grey
      font-size: 1.8rem

      &:hover
        color: lighten($red, 10%)

      &.highlighted
        color: $red
