.tags
  display: inline-block
  .btn.btn-xs
    padding: .4rem .8rem
    font-size: 1rem
    font-weight: 600
    margin-right: 1rem

    &:last-child
      margin-right: 0

.filters
  margin-top: 2rem
  margin-bottom: 1.5rem
  .btn
    margin-right: 1rem

    &:last-child
      margin-right: 0