.tags
  display: inline-block
  .btn.btn-xs
    padding: .4rem .8rem
    font-size: 1rem
    font-weight: 600
    margin: .2em .3em

    &:last-child
      margin-right: 0

.btn-md
  margin: .2em .3em
  font-size: 1.2rem
  font-weight: 400
  border: none

.filters
  margin: 1em 0

// .filter-title
//   text-align: center
//   font-weight: 600
//   text-transform: uppercase
//   letter-spacing: .1em
//   color: $gray
//   background: white
//   padding-top: .2em


.filters-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  // text-align: center
 
.filter-sub-section
  flex-grow: 1
  display: inline-block
  border: .5em solid white
  background: $dark-grey
  display: flex

.filter-sub-title
  display: inline-block
  // border: .5em solid $dark-grey
  // border-bottom: none
  text-transform: uppercase
  font-weight: 400
  padding-top: .1em
  padding-right: 1em
  text-align: center
  color: $gray
  background: white

.filter-tag-container
  padding: .5em .7em

