.user
  cursor: pointer
  text-align: center
  border: 1px solid $grey
  padding: 1rem
  margin: 1rem
  box-shadow: 1px 1px 3px $darker-grey

  &:hover
    background: $grey

  .user-name
    font-size: 3rem

  .user-email
    font-size: 2rem
