// USER CARD

.user
  height: 24.5rem
  margin-top: 8rem
  padding: 1.5rem
  +border-radius
  +box-shadow(1px, 1px, 3px, $grey-darker)
  cursor: pointer
  text-align: center

  &:hover
    background: $grey-lighter

  .user-avatar
    width: 10em
    height: 10em
    border-radius: 50%
    margin-top: -8rem
    text-align: center

  .user-name
    text-align: center
    color: $grey-text
    margin: .5rem 0 1rem 0

  .user-roles
    display: block
    height: 2em
    text-align: center

  .user-skills
    height: 8.8rem
    overflow: hidden
    h4
      margin: .75rem 0
      color: $grey-text-light


span.checkbox label
  text-transform: capitalize


// USER SHOW PAGE

body.users-show
  .user-avatar-profile
    padding: 2em
    text-align: center
    img
      width: 15em
      height: 15em
      border-radius: 50%

  .user-profile-details
    padding: 2em
    min-height: 20em

    .user-profile-about
      min-height: 10em

  .user-profile-ideas
    padding: 2em

  .user-profile-projects
    padding: 2em


// USER EDIT PAGE

.edit_user
  .image-upload
    text-align: center
    input
      margin: 1em auto


