$turquoise: #1abc9c
$dark-blue: #2854A1
$grey: #f8f8f8
$dark-grey: #dddddd
$darker-grey: #b4bcc2
$gray: #404040
$gray-light: #b4bcc2

$off-black: rgb(32,32,32)
$off-white: #f9f8f4

$sea-green: #09ddc5


// NEWWW
$blue: #4183c4
$red: #f04124
$green: #43AC6A

