#welcome
  position: relatvie
  background: $sea-green
  with: 90vw
  margin-top: -20px
  padding: 2rem 0
  h1
    text-align: center
    font-size: 1.5em
    letter-spacing: 0.15em
  p
    text-align: center
  .message_button
    position: absolute
    right: 2rem
    background: #fff
    font-size: 20px
    padding: 10px
    border-radius: 10px
    cursor: pointer

#profile_wrapper
  padding: 1em 1em

.user_skill_list
  .control-label
    width: 100%
    text-align: center
  .checkbox
    width: 40%
    float: right

.user_role_list
  .control-label
    text-align: center
  .checkbox

.user_about_me
  .control-label
    text-align: center
  #user_about_me
    height: 10em

.clear
  clear: both